//* fonts
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Concert+One&family=Montserrat&display=swap');

$primary--fm: 'Montserrat', sans-serif;
$secondary--fm: 'Changa', sans-serif;

//* colors
$clr--primary: #71c9ce;
$clr--secondary: #2B2E4A;
$clr--3rd: #8675a9;
$clr--4th: #b1b2ff;

//* neutral colors
$clr--dark: #1b262c;
$clr--gray: hsl(0, 0%, 70%);
$clr--light: hsl(0, 0%, 95%);

// فونت سایز روت رو 62.5٪ گذاشتم که سایز فونت‌ها رو به صورت پیش فرض 10 پیکسل میکنه،
// بعد سایز‌هارو به صورت اعشاری میذارم که بفهمم چند پیکسله چون ضربدر 10 میشه،
// مثالای پایین رو دقت کنید میفهمید چی میگم

//* font-sizes
$fs--sm: 0.8rem;       // 8px 
$fs--md: 1.6rem;       // 16px
$fs--md--plus: 2.4rem; // 24px
$fs--lg: 4.8rem;       // 48px
$fs--xlg: 6.4rem;      // 64px

//* spacing sizes
$sp--sm: .8rem;
$sp--md: 1.6rem;
$sp--md--plus: 2.4rem;
$sp--lg: 3.2rem;

//* breakpoints
$mobile--sc: 48rem;      // 480px
$tablet--sc: 76.8rem;    // 768px
$desktop--sc: 102.4rem;  // 1024px
$lg--dektop--sc: 120rem; // 1200px

@mixin flexCenter($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
}

@function double($size) {
  @return $size * 2;
}